.division-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 65px; 
    padding-right: 4px;
    padding-left: 4px;
    font-size: 85%;
    flex-grow: 0;
}
.numerator,
.denominator{
    display: flex;
    width: 100%;
    min-height: 30px; 
    min-width: 1.25vw;
    box-sizing: border-box;
    padding-left:3px;
    padding-right: 3px;
    /* justify-content: center; */
    align-items: center;
    flex-shrink: 0;
}
.denominator{
    border-top: 1px solid black;
}
.numerator{
    align-items: flex-end;
}
.division-grayed{
    background-color: rgb(206, 203, 203);
}
.operator{
  display: flex;
  height: 30px;
  align-items: center;
  padding-top: auto;
  padding-bottom: auto;
}
.numerator > .division-container{
    height: 50%;
}